<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bsu.edu.cdoit.characterstrengthbuilder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <receiver android:name="bsu.edu.cdoit.characterstrengthbuilder.FiveDaysAlarmReceiver" />
        <receiver android:name="bsu.edu.cdoit.characterstrengthbuilder.DeadlinePassedAlarmReceiver" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2ce3af2826de831745d07dfced742416ac228df0" />

        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.MainActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.HistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.AnalysisActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.MainActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.LineGraph"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.AnalysisLinkActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.AnalysisLinkActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.ProgressActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.AnalysisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.AnalysisActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.GoalActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.CharacteristicSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.ResultActivity"
            android:label="@string/title_activity_outcome"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.GoalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.GoalActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.InteferenceActivity"
            android:label="@string/title_activity_obstacles"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.ResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.ResultActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.PlanActivity"
            android:label="@string/title_activity_plan"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.InteferenceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.InteferenceActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.PlanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.PlanActivity" />
        </activity>
        <activity android:name="bsu.edu.cdoit.characterstrengthbuilder.AnalysisLinkActivity"
            android:label="@string/app_name"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.MainActivity" />
        </activity>

        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.DeadlineActivity"
            android:label="@string/title_activity_deadline"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.PlanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.PlanActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.SaveActivity"
            android:label="@string/title_activity_save"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.LearnMore"
            android:label="@string/title_activity_learn_more"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.MainActivity" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.GritTestActivity"
            android:label="@string/title_activity_grit_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.GoalDetailActivity"
            android:label="GoalDetailActivity"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity" />

        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.HistoryGripDetailActivity"
            android:label="HistoryWoopDetailActivity"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.HistoryActivity" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_facebook"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        android:parentActivityName=".HistoryActivity" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.RateYourselfActivity"
            android:label="@string/title_activity_rate_yourself"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.AnalysisLinkActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bsu.edu.cdoit.characterstrengthbuilder.AnalysisLinkActivity" />
        </activity>
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.CharacteristicSelectionActivity"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.GoalsActivity" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.LovelyThinkingActivity"
            android:label="@string/title_activity_lovely_thinking"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.MainActivity" />
        <activity
            android:name="bsu.edu.cdoit.characterstrengthbuilder.theoryActivity"
            android:parentActivityName="bsu.edu.cdoit.characterstrengthbuilder.theoryActivity" />
    </application>

</manifest>
