<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cdoit.characterstrengthbuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoalsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsActivity" />
        </activity>
        <activity
            android:name=".AnalysisActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AnalysisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnalysisActivity" />
        </activity>
        <activity
            android:name=".WishActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsActivity" />
        </activity>
        <activity
            android:name=".OutcomeActivity"
            android:label="@string/title_activity_outcome"
            android:parentActivityName=".WishActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cdoit.characterstrengthbuilder.WishActivity" />
        </activity>
        <activity
            android:name=".ObstacleActivity"
            android:label="@string/title_activity_obstacles"
            android:parentActivityName=".OutcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cdoit.characterstrengthbuilder.OutcomeActivity" />
        </activity>
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_activity_plan"
            android:parentActivityName=".ObstacleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObstacleActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".PlanActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cdoit.characterstrengthbuilder.PlanActivity" />
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
