<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cdoit.characterstrengthbuilder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <receiver android:name=".FiveDaysAlarmReceiver"></receiver>
        <receiver android:name=".DeadlinePassedAlarmReceiver"></receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2ce3af2826de831745d07dfced742416ac228df0" />

        <activity
            android:name=".GoalsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsActivity" />
        </activity>
        <activity
            android:name=".AnalysisActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LineGraph"
            android:label="@string/app_name"
            android:parentActivityName=".AnalysisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnalysisActivity" />
        </activity>
        <activity
            android:name=".HistoryActivityGraph"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AnalysisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AnalysisActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/app_name"
            android:parentActivityName=".CharacteristicSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalsActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_outcome"
            android:parentActivityName=".GoalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GoalActivity" />
        </activity>
        <activity
            android:name=".InteferenceActivity"
            android:label="@string/title_activity_obstacles"
            android:parentActivityName=".ResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultActivity" />
        </activity>
        <activity
            android:name=".PlanActivity"
            android:label="@string/title_activity_plan"
            android:parentActivityName=".InteferenceActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InteferenceActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".DeadlineActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cdoit.characterstrengthbuilder.DeadlineActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DeadlineActivity"
            android:label="@string/title_activity_deadline"
            android:parentActivityName=".PlanActivity" />
        <activity
            android:name=".SaveActivity"
            android:label="@string/title_activity_save"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnMore"
            android:label="@string/title_activity_learn_more"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GritTestActivity"
            android:label="@string/title_activity_grit_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalDetailActivity"
            android:label="GoalDetailActivity"
            android:parentActivityName=".GoalsActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".GoalsActivity" />

        <activity
            android:name=".HistoryGripDetailActivity"
            android:label="HistoryWoopDetailActivity"
            android:parentActivityName=".HistoryActivity" />
        <activity
            android:name=".FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_activity_facebook"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        android:parentActivityName=".HistoryActivity" />
        <activity
            android:name=".RateYourselfActivity"
            android:label="@string/title_activity_rate_yourself"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CharacteristicSelectionActivity"
            android:parentActivityName=".GoalsActivity" />
        <activity
            android:name=".LovelyThinkingActivity"
            android:label="@string/title_activity_lovely_thinking"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>
